<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de Productos</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">Agregar Producto</button>
  </div>


  <table *ngIf="listProduct.length > 0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Descripción</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of listProduct" class="table-active">
        <td>{{producto.descripcion}}</td>
        <td>{{producto.marca}}</td>
        <td>{{producto.precio | currency}}</td>
        <td>{{producto.stock}}</td>
        <td>
          <button routerLink="/edit/{{producto.productoId}}" type="button" class="btn btn-info btn-sm">Editar</button>
          <!-- <button [routerLink]="['/edit',producto.productoId]" type="button" class="btn btn-info btn-sm ms-2">Editar</button> -->
          <button (click)="deleteProduct(producto.productoId!)" type="button" class="btn btn-secondary btn-sm ms-2">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listProduct.length==0">No hay productos para mostrar</h5>
</div>